<template>
    <div style="padding: 70px">
        <div class="text-right">
          <button class="text-white bg-emerald-500 hover:bg-emerald-400 font-medium rounded-lg p-2 px-6">
            Add
          </button>
        </div>
        <table class="table-auto w-full my-2" >
          <thead class="bg-orange-300 text-white">
            <tr>
              <th class="py-1">Name</th>
              <th class="py-1">Stock</th>
              <th class="py-1">Price</th>
              <th class="py-1">Barcode</th>
              <th class="py-1">Action</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- CONSUME API -->
            <tr v-for="data in responseProducts" :key="data.id">
              <td class="py-2">{{ data.Name }}</td>
              <td class="py-2">{{ data.Stock }}</td>
              <td class="py-2">{{ data.price }}</td>
              <td class="py-2">{{ data.barcode }}</td>
              <td class="py-2">Edit Delete</td>
            </tr>
          </tbody>
        </table>
    </div>
</template>

<script setup>
// import {
//   EyeIcon,
//   PencilIcon,
//   TrashIcon,
//   UserPlusIcon
// } from "heroicons/vue/24/solid";

import { onMounted, ref } from '@vue/runtime-core';
import useProduct from "../composables/productApi";

const { productData, error, getAllProduct } = useProduct();


let responseProducts = await getAllProduct()

console.log(responseProducts[0].Name)


// export default {
//   name: 'Inventory',
// };
</script>