<template>
  <!-- <RouterView /> -->
    <Navbar />
    <Sidebar />
  <Suspense>
    <Inventory/>

  </Suspense>
  
  <!-- <div v-if="$route.name == 'Product Items'">
    <ProductItems/>
  </div>
  <div v-if="$route.name == 'Reports'">
    <Reports/>
  </div> -->
  <!-- <router-view/> -->
</template>

<script>
import Navbar from './components/Navbar.vue'
import Sidebar from './components/Sidebar.vue'
import Inventory from './views/Inventory.vue'
import Reports from './views/Reports.vue'
// import { RouterView } from 'vue-router'

export default {
  name: 'App',
  components: {
    Navbar,
    Sidebar,
    Inventory,
    Reports
}
}
</script>

<style>
#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px; */
  font-family: 'Airbnb Cereal App', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000;
  transition: .3s;
  /* &.cart-on {
    margin-right: 25vw;
  } */
}
</style>
