<template>
    <nav style="background-color:#FFE0BC">
      <div>
        <button class="user">
          <img src="@/assets/img/person-female.jpg">
        </button>
        <!-- <h1>{{ $route.name }}</h1> -->
        <h1>INVENTORY</h1>
        <div style="width:50px"></div>
      </div>
    </nav>
  </template>
  
  <script>
  export default {
    name: 'Navbar',
    computed: {
      cartSum () {
        // return this.$store.state.cartSum
        return 0
      }
    }
  }
  </script>
  
  <style lang="scss" scoped>
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -4px 7px rgba(0, 0, 0, 0.733);
    font-size: 20px;
    font-weight: bold;
    padding: 6px 0;
    z-index: 2;
    transition: .3s;
    &.cart-on {
      width: 75vw;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin: 0 13px;
        padding: 10px;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .user {
        cursor: auto;
        img {
          height: 25px;
          border-radius: 50%;
        }
      }
      .search {
        margin-right: 20px;
        img {
          height: 20px;
        }
      }
      .trolly.hidden {
        display: none;
      }
      .trolly {
        display: flex;
        align-items: center;
        margin-left: 0;
        padding-left: 0;
        img {
          height: 25px;
        }
        .badge-cart {
          font-family: 'Airbnb Cereal App', Avenir, Helvetica, Arial, sans-serif;
          display: flex;
          justify-content: center;
          width: 18px;
          height: 18px;
          border-radius: 15px;
          background-color: #57CAD5;
          color: white;
          margin-left: 6px;
          font-weight: 500;
          font-size: 15px;
          text-align: center;
          line-height: 18px;
        }
      }
    }
  }
  </style>
  